# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# Ignore everything
/*

# Allow these files and folders
!DataAnalytics-Assessment/
!DataAnalytics-Assessment/**
!dbt_project.yml
!packages.yml


